@{
    ViewData["Title"] = "Contact";
}



    <form method="post" action="@Url.Content("~/Home/AddKarachterPost")" enctype="multipart/form-data">
    <br /><br /><br /><br /><br /><br /><br />
<ul class="input_list">
    <li>
 @Html.TextBox("Name") Name
 </li>
 <li>
<textarea class="text_area" placeholder="Background, use || to insert ny paragraph" name="Background" id="background"></textarea>
 </li>
 <li>
    
   @Html.TextBox("Strength") Strength:
 </li>
 <li>
    @Html.TextBox("Dexterity") Dexterity
 </li>
 <li>
    @Html.TextBox("Constitution") Constitution
 </li>
 <li>
    @Html.TextBox("Intelligence") Intelligence
 </li>
 <li>
    @Html.TextBox("Wisdom") Wisdom
 </li>
 <li>
    @Html.TextBox("Charisma") Charisma
 </li>
 <li>
    @Html.TextBox("Hitpoints") Hitpoints
 </li>
 <li>
  <textarea class="text_area" placeholder="Quote, use || to insert ny paragraph" name="Quote" id="quote"></textarea>
  </li>
  <li>
      <textarea class="text_area" placeholder="Description, use || to insert ny paragraph" name="Description" id="description"></textarea>
      </li>
</ul>
Big picture  <input type="file" name="file" />
All sides equal  <input type="file" name="filesquare" />
  
    <input type="submit" value="Create Character" style="padding: 5px; border-radius: 5px; color: #222222; margin: 10px 0; ">

</form>