@{
    ViewData["Title"] = "Log";
    var index = 0;
}
@model DunwoodCrossing.ViewModels.DiaryViewModel
<div class="container marketing">
<h2>@ViewData["Title"].</h2>


@foreach(var post in Model.DiaryPosts)
{
    index++;
    var id= $"id{index}";
    <input type="hidden" value="@post.Post.Id" />
<div class="row featurette">
    <div class="col-md-12">
         <h2 class="featurette-heading">@post.Post.Title</h2>
         </div>
          <div class="col-md-2">
       <img class="img-circle " src="@post.ImageUrl" alt="Generic placeholder image" width="150"/>
         </div>
        <div class="col-md-10"  data-toggle="collapse">
         <p class="lead">@post.Post.Date</p>
          <p class="lead">@post.Name</p>
           <p class="collapse" id="@id">@post.Post.Main</p>
       <a href="#" data-toggle="collapse" data-target="#@id"> show more </a>
          </div>
          
       
      </div>
      }
      
      </div>
      
     
